@@ 'pyromancer'
[Unit]
Description=timer manager daemon (user service)

[Service]
Type=simple
# edit the following three lines accordingly:
Environment='PATH=/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/bin:/sbin'
ExecStart=%h/.local/bin/tmg -D
ExecStop=%h/.local/bin/tmg -q
Restart=never

[Install]
WantedBy=default.target
@@
